@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 250px;
  height: 410px;
  background-color: #0881c6;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
}

.sidebar h2 {
  color: #fff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar h2 i {
  color: #efc443;
  font-size: 35px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a.active {
  font-weight: bold;
}

.content {
  flex: 2;
  padding: 20px;
}

.widget {
  margin-top: px;
}

.widget-header {
  background-color: #0881c6;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.widget-header h2 {
  color: #fff;
}

.widget-content {
  padding: 20px;
}

.form-input {
  margin-bottom: 10px;
}

.form-input label {
  display: block;
  margin-bottom: 5px;
  color: #0881c6;
}

.form-input input,
.form-input textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-input button {
  padding: 8px 15px;
  background-color: #0881c6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-input button:hover {
  background-color: #0881c6;
}

.widget {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.widget-content {
  margin-bottom: 10px;
  
}
.widget-header {
  background-color: #0881c6;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.widget-header h2 {
  margin: 0;
}

.widget-content {
  padding: 20px;
  /* width: 50px; ; */
}
.table-data {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 5px 20px;
}
