@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url(assets.css/img.jpg); */

  background: linear-gradient(-45deg, #2deed1, #32b8ea, #32b8ea, #44e82e);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  width: 450px;
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  margin-top: 70px;
}
.wrapper h1 {
  color: #efc443;
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box1 {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0;
}
.form-check {
  margin-bottom: 15px;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}
.input-box1 input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box1 input::placeholder {
  color: #fff;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box1 i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  /* cursor: pointer; */
}
.input-box i {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}
.wrapper .remember-forgot {
  display: flex;
  justify-content: right;
  font-size: 14.5px;
  margin: -15px 0 15px;
  margin-top: 20px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
  padding-right: 10 px;
}
.remember-forgot a:hover {
  text-decoration: underline;
  color: #efc443;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}
.wrapper .btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.wrapper .btn:hover {
  background-color: #7ed626;
  color: white;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
  color: #efc443;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header h2 {
  color: #fff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.header h2 i {
  color: #efc443;
  font-size: 35px;
}
.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #db8235;
  text-decoration: underline;
}
.logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.form-control {
  border-radius: 40px;
}
.modal-footer #btn {
  border-radius: 20px;
}
.wrapper .btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.wrapper .btn:hover {
  background-color: #7ed626;
  color: white;
}
.modal-header .card .card-body p {
  font-size: 13px;
}
