@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url(assets.css/img.jpg); */

  background: linear-gradient(-45deg, #2deed1, #32b8ea, #32b8ea, #44e82e);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  width: 900px;
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  padding-bottom: 90px;
  margin-top: 70px;
}
.wrapper .conten {
  width: 350px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 15px;
  position: absolute;
  padding: 10px 1px 10px 10px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 30px;
  padding-left: 0px;
  color: #efc443;
}
.wrapper h1 i {
  position: absolute;
  text-align: right;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  padding-left: 380px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .btn {
  width: 10%;
  height: 40px;
  position: relative;
  left: 635px;
  right: 0;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}
.wrapper .btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.wrapper .btn:hover {
  background-color: #7ed626;
  color: white;
}
.wrapper .btn1 {
  width: 10%;
  height: 40px;
  border-radius: 5px;
  position: relative;
  left: 640px;
  right: 0;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}
.wrapper .btn1:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.wrapper .btn1:hover {
  background-color: #ef2020;
  color: white;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  cursor: default;
}
.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #db8235;
  text-decoration: underline;
}
.header h2 {
  color: #fff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.header h2 i {
  margin-right: 450px;
  color: #efc443;
  font-size: 35px;
}
.header .navbutton .btnlogin {
  width: 130px;
  height: 40px;
  top: 0;
  left: 0;
  font-weight: 500;
  background: #efc443;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.header .navbutton .btnlogin:hover {
  opacity: 0.7;
}
